# macOS
.DS_Store

# Xcode user-specific files
xcuserdata/
*.xcuserstate

# Build
build/
DerivedData/

# Obj-C / Swift
*.hmap

# App packaging
*.ipa
*.dSYM
*.dSYM.zip

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
.build/
.swiftpm/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output/